.introducao{
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 80px;
  align-items: center;
}

.introducao h1{
  font-size: 5.0rem;
  line-height: 1.125;
  margin-bottom: 30px;
  position: relative;
}

.introducao h1::before{
  content: '';
  display: block;
  width: 130px;
  height: 100px;
  background: url(../projeto-pessoal-arquivos/img/detalhe_.svg) no-repeat;
  position: absolute;
  top: 65px;
  left: -40px;
}

.introducao p{
  font-size: 1.5rem;
  color: #525252;
}

@media(max-width: 1300px){
  .introducao h1{
    font-size: .0rem;
    align-items: center;
  }
  .introducao h1{
    font-size: 5.0rem;
  }
  .introducao img{
    margin-left: 80px;
  }
}

@media(max-width: 900px){
  .introducao{
    display: flex;
    flex-direction: column;
    gap: 20;
    align-items: center;
  }
  .introducao img{
    margin-left: 0;
  }
  .introducao h1::before{
    top: 70px;
    left: 60px
  }
  .introducao h1{
    font-size: 5.5rem;
    text-align: center;
  }
  .introducao p{
    font-size: 2.5rem;
    text-align: center;
  }
}

@media(max-width: 600px){
  .introducao{
    display: flex;
    flex-direction: column;
    gap: 20;
    align-items: center;
  }
  .introducao img{
    margin-left: 0;

  }
  .introducao h1::before{
    top: 45px;
    left: 20px
  }
  .introducao h1{
    font-size: 3.5rem;
    text-align: center;
  }
  .introducao p{
    font-size: 1.5rem;
    text-align: center;
  }
}

@media(max-width: 400px){
  .introducao{
    display: flex;
    flex-direction: column;
    gap: 20;
    align-items: center;
  }
  .introducao img{
    margin-left: 0;

  }
  .introducao h1::before{
    width: 20px;
    height: 10px;
    top: 30px;
    left: -5px
  }
  .introducao h1{
    font-size: 2.5rem;
    text-align: center;
  }
  .introducao p{
    font-size: .5rem;
    text-align: center;
  }
}